@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary-color: #f8c83a;
  --secondary-color: #ffe59a;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.custom-btn {
  background-color: var(--primary-color);
  padding: 7px 10px;
  border-radius: 30px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
