@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #f8c83a;
    --secondary-color: #ffe59a;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.ant-btn-primary {
    background: var(--primary-color);
}

.ant-btn-primary:hover {
    background: var(--secondary-color) !important;
}

.custom-btn {
    background-color: var(--primary-color);
    padding: 7px 10px;
    border-radius: 30px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

/* Width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
