/* home.css */

.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.banner-content {
  display: flex;
  align-items: center;
  padding: 5rem;
  gap: 12rem;
}

.banner-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  max-width: 30rem;
}

.banner-image {
  height: 20rem;
  width: auto;
  object-fit: cover;
}

.left-to-right {
  flex-direction: row-reverse;
}

.right-to-left {
  flex-direction: row;
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 50px 0px;
}
.banner-card {
  padding: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  max-height: 400px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7%;
  gap: 10px;
}
.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-image {
  height: 7rem;
}

.card-btn {
  padding: 10px;
  background: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-weight: bold;
}

.card-btn:hover {
  background: rgb(201, 200, 200);
}
