.login-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.form-container {
  flex-basis: 20%;
}

.form-container h1 {
  font-weight: bold;
  padding-bottom: 10px;
}

.image-container img {
  flex-basis: 70%;
  height: 40vw;
}
