.accountContainer {
  /*border: 1px solid #aaaaaa;*/
  box-shadow: 0 5px 4px rgb(146 161 176 / 15%);
  margin: 60px;
  padding: 20px;
  min-height: 50vh;
}

.accountDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accountDetails div > div {
  display: flex;
  gap: 20px;
  margin-top: 5px;
}

.accountDetails .editButton {
  padding: 8px 16px;
  background: #ffffff;
  outline: none;
  border: 1px solid #000000;
  font-size: 14px;
  cursor: pointer;
}
