.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
}

.nav-container p {
  font-size: 1.5rem;
}

.item-list {
  display: flex;
  align-items: center;
  gap: 5rem;
  font-size: 1.2rem;
}

.item-list a {
  text-decoration: none;
  color: black;
  position: relative;
}

.item-list a:hover::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 100%;
}
