.OrderPage {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.featured {
  display: flex;
  flex-direction: column;
  gap: 4;
  height: 20vw;
}

.featured-items {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding-bottom: 5px;
}

.featured-items::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

.featured-items::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 25px;
}

.featured-items img {
  width: auto;
  max-height: 18vw;
  object-fit: cover;
  border-radius: 25px;
  cursor: pointer;
}

.order-items {
  gap: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.food-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  gap: 20px;
  border-radius: 10px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.food-item img {
  width: 100%;
  height: 200px; /* Adjust the height as needed */
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.food-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #ffd700; /* Golden yellow color for stars */
  font-weight: bold;
}

.rating img {
  height: 20px;
  width: 20px;
}

.food-title h2 {
  font-size: 18px;
  color: #333;
}

.food-title p {
  font-size: 14px;
  color: #777;
}

.food-item p {
  font-size: 16px;
  color: #555;
}

.addToCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addToCart p {
  font-size: 18px;
  color: #333;
}

.offer {
  font-size: 14px;
  margin-top: 5px;
}

.category-dropdown {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
  margin-bottom: 15px;
}

.category-dropdown select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
}

.food-title {
  display: flex;
  justify-content: space-between;
}

.rating {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 7px;
}

.rating img {
  height: auto;
  width: 18px;
}
